# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter/IPython
.ipynb_checkpoints/
*.ipynb~

# Data folder
data/

# VSCode / PyCharm
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log
